html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html,
body {
  height: 100%; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: none;
  border: none; }

section .work {
  margin-top: 0px;
  padding-bottom: 50px; }
  section .work li {
    -webkit-transform: translateZ(0);
    position: relative;
    margin-top: 60px;
    transition: transform 500ms; }
    section .work li:hover {
      transform: scale(1.05); }
    section .work li::after {
      content: '.';
      background-color: #888;
      position: absolute;
      bottom: -50px;
      left: calc(50% - 1px);
      width: 2px;
      height: 40px;
      display: block; }
    section .work li.vacation {
      display: inline-block;
      border: 3px dotted #888;
      border-radius: 25px;
      padding: 25px;
      margin-top: 50px;
      margin-bottom: 6px; }
      section .work li.vacation .date {
        margin-bottom: 0; }
      section .work li.vacation::after {
        bottom: -56px; }
    section .work li:last-child::after {
      display: none; }
    section .work li a {
      text-decoration: none; }
  section .work.menu-open ul {
    float: left; }
  section .work.menu-open li a {
    display: block;
    opacity: 0.3; }
    section .work.menu-open li a.active {
      opacity: 1; }

.client {
  text-align: left;
  margin-top: 40px;
  padding: 0 1em;
  padding-bottom: 130px; }
  .client h3 {
    font-size: 18px;
    margin-bottom: 0; }
  .client .dates,
  .client .skills {
    list-style-type: disc;
    margin-left: 15px;
    margin-bottom: 15px; }
    .client .dates li,
    .client .skills li {
      margin: 0; }
      .client .dates li p,
      .client .skills li p {
        font-size: 15px;
        margin: 0; }
  .client .job-description p {
    font-size: 15px; }
  .client .screens li {
    margin-top: 15px; }
  .client .screens p {
    font-size: 15px;
    margin: 0;
    text-align: center; }
  .client .screens img {
    width: 100%;
    height: auto; }
    .client .screens img.mobile {
      max-width: 400px;
      margin: 0 auto;
      display: block; }
  .client iframe {
    margin-left: -0.5em;
    margin-bottom: 15px; }
  .client .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%; }
    .client .embed-container iframe,
    .client .embed-container object,
    .client .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.social-links {
  text-align: center;
  overflow: hidden; }
  .social-links li {
    display: inline-block;
    margin: 12px; }

@media screen and (max-width: 320px) {
  .social-links li {
    margin: 24px; } }

section {
  max-width: 992px;
  /* margin: 20px auto; */
  clear: both;
  text-align: center; }

  section.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.profile {
  border-radius: 50%;
  border: 6px solid #fff;
  width: 160px;
  height: 160px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  /* margin: 42px auto; */
  position: relative; }
  .profile img {
    width: 100%;
    height: auto; }

.work hr {
  display: block;
  width: 2px;
  height: 30px;
  background: #606162;
  margin-bottom: 12px; }

footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  border-top: 1px solid #999;
  background: #888;
  width: 100%;
  text-align: center;
  color: #efefef;
  font-size: 1.55em;
  padding: 16px 0;
  font-family: 'Raleway', Arial, sans-serif; }

img.dealwithit {
  position: absolute;
  top: -30px;
  left: 6px;
  -webkit-transform: scale(-0.5, 0.5) translateX(60px) translateY(20px) rotate(2deg);
  transform: scale(-0.5, 0.5) translateX(60px) translateY(20px) rotate(2deg);
  -webkit-transition: -webkit-transform 5s;
  transition: transform 5s;
  z-index: 2; }

.mattjamesishere img.dealwithit {
  -webkit-transform: scale(-0.5, 0.5) translateX(60px) translateY(260px) rotate(2deg);
  transform: scale(-0.5, 0.5) translateX(60px) translateY(260px) rotate(2deg); }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

section li a {
  color: #606162; }

.color.dg {
  color: #606162; }

.color.lg {
  color: #757b82; }

.color.ltg {
  color: #acabab; }

.color.ow {
  color: #eaeaea; }

.color.vb {
  color: #2db8ee; }

.color.lb {
  color: #00b771; }

.color.pb {
  color: #dd4f99; }

.panel.dg {
  background-color: #606162; }

.panel.lg {
  background-color: #757B82; }

.panel.ltg {
  background-color: #ACABAB; }

.panel.ow {
  background-color: #EAEAEA; }

.panel.vb {
  background-color: #2DB8EE; }

.panel.lb {
  background-color: #4BCDF4; }

.panel.pb {
  background-color: #A5E7F4; }

body {
  background-color: #EAEAEA; }

h1, h2, h3, p {
  font-family: 'Raleway', Arial, sans-serif;
  margin-bottom: 12px;
  color: #606162; }

h1 {
  font-size: 3em;
  color: #eaeaea; }

h2 {
  font-size: 2.4em;
  text-transform: uppercase; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.8em;
  line-height: 1.55em; }

p.note {
  font-size: 1.2em;
  color: #d1d1d1; }

a.link.vb,
span.link.vb {
  color: #fff;
  background-color: #2db8ee;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none; }

a.link.vb:hover {
  background-color: #119fd7; }

nav {
  padding: 0em; }
  nav h1 {
    font-size: 4em;
    font-size: 11.7vw;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0px; }
    nav h1 a {
      color: #606162;
      text-decoration: none; }
      nav h1 a .alt-color {
        color: #2db8ee; }
  nav .hideme {
    opacity: 1;
    color: #606162;
    -webkit-transition: all 1s;
    transition: all 1s; }
  nav ul {
    margin: 0; }
    nav ul li {
      float: left;
      width: 33.333%;
      text-align: center;
      position: relative; }
      nav ul li p {
        margin: 0; }
        nav ul li p a {
          color: #eaeaea;
          text-decoration: none;
          display: block;
          padding: 12px 0; }
      nav ul li.home a {
        background: #2db8ee; }
        nav ul li.home a:hover {
          background: #119fd7;
          color: #fff; }
      nav ul li.work a {
        background: #00b771; }
        nav ul li.work a:hover {
          background: #008452;
          color: #fff; }
      nav ul li.contact a {
        background: #efe33e;
        color: #606162; }
        nav ul li.contact a:hover {
          background: #e7d913;
          color: #111; }
      nav ul li.blog a {
        background: #dd4f99; }
        nav ul li.blog a:hover {
          background: #d12880;
          color: #fff; }
      nav ul li a.active::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: -9px;
        left: 48%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      nav ul li.home:hover a.active::after {
        background: #119fd7; }
      nav ul li.home a.active::after {
        background: #2db8ee; }
      nav ul li.work:hover a.active::after {
        background: #008452; }
      nav ul li.work a.active::after {
        background: #00b771; }
      nav ul li.contact:hover a.active::after {
        background: #e7d913; }
      nav ul li.contact a.active::after {
        background: #efe33e; }

.panel {
  background-color: #606162;
  margin: 2em 0;
  padding: 5em;
  border-top: 1px solid #ACABAB;
  border-bottom: 1px solid #606162; }
  .panel p {
    color: #eaeaea; }
    .panel p.show-section {
      cursor: pointer; }
    .panel p a {
      color: #2db8ee;
      text-decoration: none;
      border-bottom: 1px dotted #2db8ee; }
      .panel p a:hover {
        color: #00b771;
        text-decoration: none;
        border-bottom: 1px dotted #00b771; }
  .panel ul {
    list-style-type: square;
    margin-left: 24px;
    padding-left: 24px; }
    .panel ul li {
      color: #eaeaea; }
      .panel ul li p {
        margin-bottom: 0; }
  .panel section {
    background-color: #00b771;
    margin: 0 -5em;
    overflow: hidden; }
    .panel section .ng-enter {
      transition: .75s;
      opacity: 0; }
    .panel section.ng-enter-active {
      opacity: 1; }
    .panel section.ng-leave {
      transition: .75s;
      opacity: 1; }
    .panel section.ng-leave-active {
      opacity: 0; }
    .panel section .wrap {
      padding: 5em; }
    .panel section.bounceInUp {
      display: block; }
  .panel:first-child {
    margin-top: 0; }

#footer {
  padding: 12px 0;
  width: 100%;
  background-color: #606162; }
  #footer p {
    padding-top: 4px;
    text-align: center;
    text-shadow: none;
    color: rgba(255, 255, 255, 0.4); }

@media all and (max-width: 768px) {
  nav:before, nav:after {
    content: " ";
    display: table; }
  nav:after {
    clear: both; }
  nav h1 {
    font-size: 13.7vw; }
  /*section {
     margin-top: 70px; } */
  .menu-open nav ul {
    height: 6em;
    margin-top: 12px; }
  .menu-open nav ul li a {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .menu-open nav ul li:nth-child(1) a {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .menu-open nav ul li:nth-child(2) a {
    -webkit-animation-delay: .1s;
    animation-delay: .1s; }
  .menu-open nav ul li:nth-child(3) a {
    -webkit-animation-delay: .2s;
    animation-delay: .2s; }
  nav .hideme {
    font-size: 0px;
    opacity: 0; }
  nav ul {
    height: 0px;
    -webkit-transition: all .2s;
    transition: all .2s; }
  nav .menu-icon {
    height: 75%;
    width: 9%;
    display: block;
    position: absolute;
    top: 12%;
    right: 0%;
    cursor: pointer; }
  nav .menu-icon span {
    height: 4px;
    width: 100%;
    margin: 18% 0;
    display: block;
    background: #606162; }
  .panel {
    padding: 1em; }
  .panel section {
    margin: 0 -1em; }
  .panel section .wrap {
    padding: 1em; } }

@media all and (min-width: 769px) {
  nav,
  ul {
    overflow: visible; }
  nav:before,
  nav:after,
  nav ul:before,
  nav ul:after {
    content: " ";
    display: table; }
  nav:after,
  nav ul:after {
    clear: both; } }

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 550px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.menu {
  display: block;
}

.menu h1 {
  display: flex;
  justify-content: center;
}

.form {
  font-family: 'Raleway', Arial, sans-serif;
  background-color: #ccc;
  padding: 40px;
  border-radius: 2px;
}

.form li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.label-text {
  margin-right: 10px;
  min-width: 120px;
}

.input-text {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 12px;
  width: 100%;
}

.label-text,
.input-text {
  text-align: left;
}

.label-text,
.input-text,
.btn {
  font-size: 16px;
}

.btn {
  width: 100%;
  border-radius: 2px;
  border: 0;
  color: #fff;
  padding: 12px;
}

.btn__login {
  background-color: #119fd7;
}

.btn__save {
  background-color: #00b771;
}

.validation__error {
  color: #ff0000;
}
